* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: pink;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative; /* Нужно, чтобы абсолютное позиционирование внуков было относительно body */
}

.header-text {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: #ff66b2;
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.heart {
    position: absolute;
    font-size: 2rem;
    animation: fall 3s infinite;
    cursor: pointer;
}

@keyframes fall {
    0% {
        opacity: 1;
        top: -50px;  /* Начальная позиция сердечка выше экрана */
    }
    100% {
        opacity: 0;
        top: 100vh; /* Конечная позиция сердечка внизу экрана */
    }
}

.text {
    position: absolute;
    font-size: 18px; /* Меньший размер текста */
    color: white;
    text-align: center;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s;
}
