* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: pink;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-text {
    font-family: 'Pacifico', cursive; /* Используем красивый шрифт */
    font-size: 36px;
    color: #ff66b2; /* Красивый розовый цвет */
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.heart {
    position: absolute;
    font-size: 2rem;
    animation: fall 3s infinite;
    cursor: pointer;
}

@keyframes fall {
    0% {
        top: -50px;
        opacity: 1;
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}

.text {
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    width: 100%;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: none;
}
